html,body {
    color: #555;
    font-weight: 200;
    height: 100%;
    width: 100%;
    border: 0 !important;
}

.page {
    height: 110vh;
    width: 100%;
    margin: 0;
    padding: 3vh 0;
}

.page2 {
    background-color: #fff;
}

.page2 li {
    padding-top: 1rem;
}

.twitter-embed {
    max-height: 100vh !important;
}

.header {
    text-align: center;
    height: 100vh;
    line-height: 100vh;
}

.name {
    font-size: 7rem;
    font-weight: 400;
    top:-3vh;
    position:relative;
    background-color: #808080;
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.6) 0px 3px 3px;
}



a {
    color: #777;
}

a:hover, a:focus {
    color: #333;
    font-weight: 400;
    text-decoration: none;
}
