body
{
    padding: 2% 0% 2% 0%;
    text-align: justify;
}
main
{
    margin-bottom:2%;
    margin-left:2%;
    margin-right:2%
}
.page-header
{
    margin: 0 3% 1% 2px;
}
article
{
    margin: 0% 2% auto 2%;
    text-align:justify
}
.title
{
    margin-top:0
}
.title a
{
    color:#aaa;
    font-size:130%;
    text-shadow:none
}
.header a.extra
{
    color:#aaa;
    margin-left:1em
}
.meta
{
    color:#aaa;
    font-weight:200
}
footer
{
    border-top:4px solid #eee;
    color:#666;
    font-size:80%;
    margin-left:1em;
    margin-right:2em;
    margin-top:10em;
    overflow:hidden
}
footer address
{
    float:left;
    margin-right:3em
}
footer address a
{
    color:#8085C1
}
.date
{
    font-weight:100
}
.title a:hover,.header a.extra:hover
{
    color:#000
}

.menu {
    font-weight:100;
    background:#f5f5f5;
}
a.menu:hover{
    background:#aaa;
    color:#fff;
}

.pagination li a{
    font-weight:100;
    color:#000;
}
.pagination li a:hover,.pagination .active span:hover{
    background:#aaa;
    color:#fff;   
    border-color:#bbb;
}

.pagination .active span{
    background:#aaa;
    border-color:#ddd;
    font-weight:200;
}

.bs_logo {
    background-image: url(http://brainstorage.me/assets/logo_2x.png);
    background-size: 140px 145px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    display: block;
    width: 150px;
    height: 35px;
}
