---
layout: default
title: Home
---

<main id="home">
  {% for post in paginator.posts %}
  <article class="panel panel-default">
    <section class="panel-heading">
      <span class="date">{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a> <span class="pull-right">{% for cat in post.categories %}<a href="/categories/#{{ cat }}" class="meta">{{ cat }}</a> {% endfor %}</span>
    </section>
  	<section class="panel-body">
      {{ post.excerpt }}
  	 <a href="{{ post.url }}" class="meta pull-right">Read more...</a><br>
  	</section>
  </article>
  {% endfor %}
  {% if paginator.total_pages > 1 %}
  <nav>
    <ul class="pagination pull-right">
      {% if paginator.previous_page %}
        <li><a class="menu" href="{{ paginator.previous_page_path | replace: 'index.html', '' }}"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
      {% else %}
        <li class="disabled"><span><i class="glyphicon glyphicon-chevron-left"></i></span></li>
      {% endif %}
        {% assign left = paginator.page|minus:2 %}
        {% if 1 > left %}
          {% assign left = 1 %}
        {% endif %}
        {% assign right = paginator.page|plus:2 %}
        {% if right > paginator.total_pages %}
          {% assign right = paginator.total_pages %}
        {% endif %}
      {% for page in (left..right) %}
        {% if page == paginator.page %}
          <li class="active menu"><span>{{ page }} <span class="sr-only">(current)</span></span>
        {% elsif page == 1 %}
          <li><a class="menu" href="/">{{ page }}</a>
        {% else %}
          <li><a class="menu" href="{{ site.paginate_path  | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
        </li>
      {% endfor %}

      {% if paginator.next_page %}
        <li><a class="menu" href="{{ paginator.next_page_path }}"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
      {% else %}
        <li class="disabled"><span><i class="glyphicon glyphicon-chevron-right"></i></span></li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</main>
