<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | M_Messiah</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="fluid-icon" href="https://github.com/fluidicon.png" title="GitHub">
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-114.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-144.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144.png">
        <link rel=​'icon' type=​'image/​x-icon' href='http://github.com/​favicon.ico'>​
        <!-- Bootstrap -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script async src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create','UA-22646323-2','m-messiah.github.io');ga('require','displayfeatures');ga('send','pageview');</script>
    </head>
    <body>
          <header class="page-header row">
              <div class="col-md-10 col-sm-8 col-xs-7"><a href="/"><img src="/img/logo.png" width="230" /></a></div>
              <div class="title col-md-1 col-sm-2 col-xs-6"><a href="http://decrypter.herokuapp.com">Decrypter</a></div>
              <div class="col-md-1 col-sm-2 col-xs-6"><a href="http://brainstorage.me/M_Messiah"><img src="http://brainstorage.me/assets/logo_2x-1ebfa8e9d42ef8aaabd0047a62f5cfbe.png" height="23px"></img></a></div>
          </header>
          {{ content }}
          <footer>
            <address>
                <iframe src="http://ghbtns.com/github-btn.html?user=m-messiah&type=follow&count=true" height="30" width="168" frameborder="0" scrolling="0" style="width:168px; height: 30px;" allowTransparency="true"></iframe><br>
                <a href="https://plus.google.com/u/0/103943314784673370260?rel=author">Google+</a>
            </address>

            <script async src="//yandex.st/share/share.js" charset="utf-8"></script>
            <div class="yashare-auto-init pull-right" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,facebook,twitter,gplus" data-yashareTheme="counter"></div>
          </footer>
      <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter7031728 = new Ya.Metrika({id:7031728, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/7031728" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
    </body>
</html>
