<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | M_Messiah</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script async src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script async src="/js/bootstrap.min.js"></script>
        <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-22646323-2', 'm-messiah.github.io'); ga('send', 'pageview');</script>
    </head>
    <body>
        <div class="site">
          <div class="page-header">
          <div style="width:18em;" class="pull-right"> <script>
                  (function() {
                    var cx = '006424678597279067122:yvtm4ogo3za';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                        '//www.google.com/cse/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                  })();
                </script>
                <gcse:search></gcse:search>
              </div>
            <ul class="list-inline pull-right" style="padding-top:23px">
              <li><a href="http://brainstorage.me/M_Messiah"><img src="http://brainstorage.me/assets/logo_2x-1ebfa8e9d42ef8aaabd0047a62f5cfbe.png" height="30px"></img></a></li>
              <li><a class="meta" href="http://decrypter.herokuapp.com">Decrypter</a></li>
              </ul>
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          </div>
          <div class="page">
          {{ content }}
          </div>
          <div class="footer">
            <div class="contact">
                <iframe src="http://ghbtns.com/github-btn.html?user=m-messiah&type=follow&count=true" height="30" width="168" frameborder="0" scrolling="0" style="width:168px; height: 30px;" allowTransparency="true"></iframe>
            </div>

            <script async src="//yandex.st/share/share.js" charset="utf-8"></script>
            <div class="yashare-auto-init pull-right" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,facebook,twitter,gplus" data-yashareTheme="counter"></div>
          </div>
        </div>
      <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter7031728 = new Ya.Metrika({id:7031728, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/7031728" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
    </body>
</html>
