<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | M_Messiah</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/blog.css">
        <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create','UA-22646323-2','m-messiah.github.io');ga('require','displayfeatures');ga('send','pageview');</script>
    </head>
    <body>
          <header class="page-header row">
              <div class="col-md-10 col-sm-9 col-xs-7"><a href="/" class="site_logo logo"></a></div>
              <div class="title col-md-2 col-sm-3 col-xs-6"><a href="https://decrypter.herokuapp.com" class="decrypter logo"></a></div>
          </header>
          <div class="row">
            <div class="col-sm-9 col-md-10">
              {{ content }}
            </div>
            <div class="col-sm-3 col-md-2 hidden-xs">
              <nav>
                <h4><a class="meta" href="/categories/">Categories</a></h4>
                <div class="list-group">
                {% for category in site.categories | sort "category[0]" %}
                  <a class="menu list-group-item" href="/categories/#{{ category[0] }}">{{ category[0] | capitalize | replace: '_', ' ' }} <span class="badge">{{ category[1] | size }}</span></a>
                {% endfor %}
                </div>
              </nav>
              <nav class="visible-xs col-xs-12">
                  <a class="meta" href="/categories/"><h4>Categories</h4></a>
              </nav>
              </div>
            </div>
          <footer>
            <address>
                <iframe src="http://ghbtns.com/github-btn.html?user=m-messiah&type=follow&count=true" height="30" width="168" frameborder="0" scrolling="0" style="width:168px; height: 30px;" allowTransparency="true"></iframe>
            </address>

            <script async src="//yandex.st/share/share.js" charset="utf-8"></script>
            <div class="yashare-auto-init pull-right" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,facebook,twitter,gplus" data-yashareTheme="counter"></div>
            <div class="pull-right google-plus logo"><a href="https://plus.google.com/u/0/103943314784673370260?rel=author"></a></div>
          </footer>
      <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter7031728 = new Ya.Metrika({id:7031728, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/7031728" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    </body>
</html>
